langchain==1.2.10
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.6.0
langchain-mcp-adapters==0.3.2
langchain-ollama==1.0.1
langchain-openai==1.1.14
langchain-text-splitters==1.1.1
langfuse==3.14.5
mcp==1.29.0
openai==2.26.0
python-dotenv==1.2.1
rich==14.3.3
textual==8.2.8
ddgs==9.11.2
rich-pyfiglet==2.0.1
pyyaml==6.0.3
